{%- doc -%}
  Renders the collection title block for collection header section.
{%- enddoc -%}

{% liquid
  assign block_settings = block.settings
  
  if closest.collection == blank
    assign collection_title = 'placeholders.collection_title' | t
  elsif closest.collection != blank
    assign collection_title = closest.collection.title
  endif

  assign plain_text = collection_title | strip_newlines | strip_html | strip
%}

{%- if plain_text != '' or request.design_mode -%}
  <div
    class="collection-title-block text-block {{ block_settings.type_preset }}"
    style="
      {% render 'typography-style', preset: block_settings.type_preset, settings: block_settings, type: 'heading' %}
      {% if block_settings.color != '' %}
        color: {{ block_settings.color }};
      {% endif %}
      text-align: {{ block_settings.alignment }};
    "
    {{ block.shopify_attributes }}
  >
    <{{ block_settings.heading_tag }}>{{ collection_title }}</{{ block_settings.heading_tag }}>
  </div>
{%- endif -%}

{% stylesheet %}
  .collection-title-block {
    margin-bottom: 1rem;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Collection Title",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "Alignment",
      "default": "left"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "Heading Tag",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        }
      ],
      "default": "h1"
    },
    {
      "type": "header",
      "content": "Typography"
    },
    {
      "type": "select",
      "id": "type_preset",
      "label": "Type Preset",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ],
      "default": "h1"
    },
    {
      "type": "select",
      "id": "font",
      "label": "Font",
      "options": [
        {
          "value": "var(--font-body--family)",
          "label": "Body"
        },
        {
          "value": "var(--font-subheading--family)",
          "label": "Subheading"
        },
        {
          "value": "var(--font-heading--family)",
          "label": "Heading"
        },
        {
          "value": "var(--font-accent--family)",
          "label": "Accent"
        }
      ],
      "default": "var(--font-heading--family)",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "Font Size",
      "options": [
        {
          "value": "1rem",
          "label": "16px"
        },
        {
          "value": "1.5rem",
          "label": "24px"
        },
        {
          "value": "2rem",
          "label": "32px"
        },
        {
          "value": "2.5rem",
          "label": "40px"
        },
        {
          "value": "3rem",
          "label": "48px"
        },
        {
          "value": "3.5rem",
          "label": "56px"
        },
        {
          "value": "4rem",
          "label": "64px"
        }
      ],
      "default": "2rem",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text Color",
      "default": "var(--color-foreground-heading)"
    }
  ],
  "presets": [
    {
      "name": "Collection Title"
    }
  ]
}
{% endschema %}

